In [1]:
import pandas as pd

In [3]:
pd.read_csv('X_test1.csv')[['CycPeptMPDB_ID']]

     CycPeptMPDB_ID
0               951
1               143
2               163
3               269
4               734
..              ...
690            5404
691            5521
692            5526
693            5557
694            7374

[695 rows x 1 columns]